/* VARIABLES */

:root {
  /* COLORS */
  --standard-white: hsl(0, 0%, 100%);
  --primary-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  /* FONTS */
  --font-family: "Space Mono", monospace;
  --regular-font-weight: 400;
  --large-font-weight: 700;
  --h1-font-size: 2rem;
  --font-size: 1rem;
  /* SPACING and SIZES */
  --margin-sm: 1rem;
  --margin-md: 2rem;
  --margin-lg: 4rem;

  --padding-sm: 1rem;
  --padding-md: 2rem;
  --padding-lg: 4rem;

  --border-radius-xs: 0.5rem;
  --border-radius-md: 2rem;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* GENERAL STYLES */

body {
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--light-grayish-cyan);
  font-weight: var(--regular-font-weight);
  line-height: 1.7;

  font-size: var(--font-size);
  -webkit-text-size-adjust: 100%;
  font-size: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-md);

  position: relative;
  overflow: auto;
  height: 100%;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--very-dark-cyan);
  margin-bottom: var(--margin-md);
  text-align: center;
}

/* ANIMATED GRADIENT IN THE BACKGROUND*/

#gradient-canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  --gradient-color-1: #c5e4e7;
  --gradient-color-2: #c5e4e7;
  --gradient-color-3: #26bfab;
  --gradient-color-4: #c5e4e7;
}

/* CALCULATOR SECTION */

.calculator {
  background-color: var(--standard-white);
  border-radius: var(--border-radius-md);
  padding: var(--padding-md);

  max-width: 60rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

/* Both Form and Calculations Panels */

.form-panel,
.calculations-panel {
  border-radius: var(--padding-md);
  padding: var(--padding-md);
}

/* Form Panel */

.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.form label {
  display: inline-block;
  margin-bottom: var(--margin-sm);
  color: var(--very-dark-cyan);
}

.form .label-with-img {
  position: relative;
}
.form .label-with-img img {
  position: absolute;
  top: 5px;
  right: -18px;
}

.form input,
.form select {
  width: 100%;
  padding: 1rem;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: var(--large-font-weight);

  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);

  border: none;
  border-radius: var(--border-radius-xs);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.form input::placeholder {
  color: var(--grayish-cyan);
  font-weight: var(--regular-font-weight);
}

.form *:focus {
  outline: 3px solid var(--primary-cyan);
}

/* Calculations Panel */

.calculations-panel {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--very-dark-cyan);
  font-weight: var(--large-font-weight);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculations-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1rem;
}

.calculations-grid div {
  width: 50%;
}

.text {
  color: var(--standard-white);
  display: flex;
  align-items: center;
}

.numbers {
  font-size: 3rem;
  color: var(--primary-cyan);
}

/* Reset Button */

.btn {
  background-color: var(--primary-cyan);
  color: var(--very-dark-cyan);
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--large-font-weight);
  line-height: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: var(--padding-sm);
  border: none;
  border-radius: var(--border-radius-xs);
  transition: all 0.3s;
}

/* Hovers aktīvs tikai tad, kad ir ievadīts kaut kas formas lauciņos + opacity ir 100%.  */
/* Kad ir kaut kas selektots formā, tad opacity uz prastā pogas state arī ir 100%, lai norādītu, ka viņu var izmantot */

.btn:hover {
  cursor: pointer;
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  opacity: 100%;
}

.btn:disabled {
  opacity: 60%;
}

.btn:disabled:hover {
  opacity: 60%;
  cursor: auto;
  background-color: var(--primary-cyan);
  color: var(--very-dark-cyan);
}

/* FOOTER */

footer {
  font-size: 1rem;
  text-align: center;
  color: var(--very-dark-cyan);
  margin-top: var(--margin-md);
}
