/* VARIABLES */

:root {
  /* COLORS */
  --standard-white: hsl(0, 0%, 100%);
  --primary-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  /* FONTS */
  --font-family: "Space Mono", monospace;
  --regular-font-weight: 400;
  --large-font-weight: 700;
  --h1-font-size: 2.5rem;
  --form-input-size: 1.5rem;
  /* SPACING and SIZES */
  --margin-sm: 1rem;
  --margin-md: 2rem;
  --margin-lg: 4rem;
  --padding-md: 2rem;
  --border-radius-md: 2rem;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* GENERAL STYLES */

body {
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--light-grayish-cyan);
  font-weight: var(--regular-font-weight);
  line-height: 1.7;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 var(--margin-lg);

  overflow: hidden;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--very-dark-cyan);
  margin-bottom: var(--margin-md);
}

/* Vajag pārtaisīt atsevišķi konteineri un tad sekciju tiasīt, kur iekšā ir forma */
.container {
  background-color: var(--standard-white);
  border-radius: var(--border-radius-md);
  padding: var(--padding-md);

  width: 100%;
  max-width: 70rem;
  height: 30rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

/* ANIMATED GRADIENT IN THE BACKGROUND*/

#gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  --gradient-color-1: #c5e4e7;
  --gradient-color-2: #c5e4e7;
  --gradient-color-3: #26bfab;
  --gradient-color-4: #c5e4e7;
}

/*  */

.input-section,
.output-section {
  border-radius: var(--padding-md);
}

.output-section {
  background-color: var(--very-dark-cyan);
}
